.menu {
    padding: 0;
    background-color: rgba(45, 108, 189, 0.993);
    position: fixed;
    right: 0;
    z-index: 2;
}

ul {
    list-style: none;
    margin: 0 0 0 0;
}

li {
    width: 370px;
}

li:hover {
    background-color: rgba(98, 188, 240, 0.39);
    font-weight: bold;
    font-size: 17px;
}

li a {
    padding: 10px 0 10px;
    display: block;
    text-decoration: none;
    color: black;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
}

a:visited {
    color: rgba(66, 124, 248, 0.39);
}

.hidden {
    display: none; 
}

.active {
    background-color: rgb(28, 81, 226);
    font-size: 17px;
    font-weight: bold;
}

.toTop {
    display: flex;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(40, 40, 41);
    border-style: none;
    border-radius: 50%;
    font-size: 18px;
    height: 70px;
    width: 70px;
    position: fixed;
    bottom: 8px;
    right: 10px;
    align-items: center;
    text-align: center;
    z-index: 10;
    box-shadow: 3px 3px 3px #1024d3;
}

.toTop:hover {
    font-size: 20px;
    height: 80px;
    width: 80px;
}