* {
    box-sizing: border-box;
  }
  
.sections {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
}

button.sectiontitleonclick {
    background-color: rgb(75, 109, 204);
    font-size: 26px;
}

.text p {
    display: block;
    height: auto;
    border: solid black;
    background-color: rgba(98, 188, 240, 0.39);
    overflow: hidden;
    font-size: 16px;
}

.collapsetext {
    display: none;
}

.section {
    position: relative;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  rgba(16, 112, 236, 0.486);
    height: 60px;
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
}

button:hover {
    background-color: rgb(75, 109, 204);
    font-size: 26px;
}

@media only screen and (max-width: 1440px) {
    .text p {
        padding: 30px 400px;
    }
}

@media only screen and (max-width: 768px) {
    .text p {
        padding: 20px 50px;
    }
}

@media only screen and (max-width: 425px) {
    .text p {
        padding: 20px 25px;
    }

}
