@media only screen and (min-width: 768px) {
    li {
        width: 300px;
    }

    .active {
        background-color: rgb(28, 81, 226);
        font-size: 22px;
        font-weight: bold;    
    }
}
