@media only screen and (min-width: 768px) {
    li {
        width: 300px;
    }

    .active {
        background-color: rgb(28, 81, 226);
        font-size: 22px;
        font-weight: bold;    
    }

    .explanation p {
        font-size: 24px;
    }
}

@media only screen and (max-width: 420px) {
    .explanation p {
        font-size: 20px;
        padding-left: 20px;
    }
    .toTop {
        display: block;
        text-decoration: none;
        cursor: pointer;
        background-color: rgb(135, 156, 212);
        border-style: none;
        border-radius: 50%;
        font-size: 10px;
        height: 30px;
        width: 80px;
        text-align: center;
        padding: 5px 0 0 0;
        position: fixed;
        bottom: 8px;
        right: 15em;
        z-index: 10;
    }
    .toTop:hover {
        font-size: 15px;
        height: 40px;
        padding-top: 12px;
    }
 
    button {
        font-size: 30px;
    }
}

